@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *::after {
    box-sizing: inherit;
    margin: 0;
}

.main-content h2{
    color: white;
    font-size: 30px;
    background-color: #fb4d4d;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #a63434;
}

#first-heading {
    margin-top: 20px;
}

header {
    text-align: center;
    padding: 150px 0 150px 0;
    font-size: 40px;
    background-color: #842929;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background-color: #ffead1;
    color: #ffffff;
    font-family: Open-Sans, Helvetica, sans-serif;
}

section, aside, div {
    padding: 20px;
}

aside {
    margin-top: 60px;
}

.text-section {
    padding: 30px;
    color: #101010;
    letter-spacing: 1px;
}


.flex-container { 
    @media (min-width: 56.25em){
        display: flex;
    }
}

.main-content {
    flex: 1;
    background-color: #ffead1;
    margin-top: 60px;
    padding: 0px 50px 0px 50px;
}


.main-content section {
    background-color: #ffead1;
    padding: 0px;
    font-size: 20px;
}

.sidebar h2{
    background-color: #fb4d4d;
    padding: 15px 0 15px 0;
    margin: 0 0 0 0 ;
}

#prof-pic {
    border-radius: 20px;
}

.main-content h2 {
    border-radius: 20px;
}

.sidebar{
    flex: 0 0 300px;
    text-align: center;
    background-color: #ffead1;
    border-left: 5px solid #842929;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
;}

a {
    text-decoration: none;
    color: #fb4d4d;
    font-weight: 800;
}

ul li{
    margin-top: 20px;
}

ol li {
    margin-top: 20px;
}

ul li::marker {
    color: #fb4d4d;
}

ol li::marker {
    color: #fb4d4d;
    font-weight: 800;
}

.sidebar p {
    color: black;
}

.gallery-container{
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
}

.gallery-container img {
    border-radius: 50px;
}

#bio-section {
    background-color: pink;
    padding: 25px;
}


footer {
    color: white;
    text-align: center;
    padding: 60px 0 60px 0;
    background-color: #842929;
    font-size: 20px;
}

a img {
    width: 140px;
    border-radius: 100%;
}